{{ define "main" }}
<article>
    <h1>{{ partial "aptisdate.html" .Params.aptisdate }}</h1>
    <h3 class="font-normal"> {{ .Title }}</h3>
    {{ .Content }}

    {{ with (.GetTerms "sessions") }}
    <ul id="sessions" class="clear-both flex flex-row">
      {{ range . }}
        {{ partial "tag.html" . }}
      {{ end }}
    </ul>
    {{ end }}

    <div class="clear-both flex flew-row flex-wrap justify-between items-center mt-6">

      <moons class="flex flex-row justify-center">
        {{ partial "moon-luna.html" (dict "date" .Params.aptisdate "size" "large") }}
        {{ partial "moon-celene.html" (dict "date" .Params.aptisdate "size" "large") }}
      </moons>

      <div class="w-36 my-6 md:order-first">
        {{ with .PrevInSection }}
          <a href="{{ .Permalink }}" class="font-title text-xl">< Prev Entry</a>
        {{ end }}
      </div>

      <div class="w-36 my-6 text-right">
        {{ with .NextInSection }}
          <a href="{{ .Permalink }}" class="font-title text-xl">Next Entry ></a>
        {{ end }}
      </div>

</article>
{{ end }}
