{{- $place := replace (.Get 0) "'" "" -}}
{{- $place := lower (replace $place " " "-") -}}
{{- $page := .Page.GetPage ($place | printf "%s%s" "/places/") -}}
{{- $replaceTitle := .Get 1 -}}


{{- if not $page -}}
  <span class="link-missing"> {{- if $replaceTitle -}} {{- $replaceTitle -}} {{- else -}} {{- (.Get 0) -}} {{- end -}} </span>
{{- else -}}
  <a href=" {{- $page.Permalink -}} " class="link-place"> {{- if $replaceTitle -}} {{- $replaceTitle -}} {{- else -}} {{- $page.Title -}} {{- end -}} </a>
{{- end -}}
