<header class="w-full p-4 fixed bottom-0 z-30 {{ cond (eq .Kind "home") "footer-index" "footer-main" -}} ">
    {{/*  CSS functionality for menu toggle  */}}
    <style type="text/css">
        input#nav-toggle:checked~label#show-button {
            display: none;
        }

        input#nav-toggle:checked~label#hide-button {
            display: flex;
        }

        input#nav-toggle:checked~#nav-menu {
            display: block;
        }
    </style>

    <nav class="">
        <input id="nav-toggle" type=checkbox class="hidden">
        <label id="show-button" for="nav-toggle"
            class="flex items-center block md:hidden cursor-pointer footer-link">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z" />
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="flex items-center hidden cursor-pointer footer-link">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Close</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                    transform="rotate(45 10 10)" />
            </svg>
        </label>

        <ul id="nav-menu" class="md:flex w-full md:w-auto hidden md:block mt-2 md:mt-0 md:space-x-8 justify-center">

            <li>
              <a href="/" class="footer-link">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fill-current w-5 py-1">
                  <title>Home</title>
                  <path fill="currentColor" d="M512 160.92C505.16 99.16 478.4 44.29 438.94 4.7c-9.21-9.25-23.89-4.12-27.06 8.96-12.03 49.67-47.25 88.27-91.88 101.23v154.22c44.63 12.96 79.85 51.56 91.88 101.23 3.17 13.08 17.85 18.21 27.06 8.96 39.46-39.59 66.22-94.45 73.06-156.22L449.24 192 512 160.92zM101 13.66C97.86.58 83.32-4.54 74.2 4.7 28.67 50.83 0 117.62 0 192c0 74.38 28.67 141.17 74.2 187.3 9.13 9.25 23.66 4.12 26.8-8.96 11.92-49.67 46.79-88.27 91-101.23V114.89c-44.21-12.96-79.08-51.56-91-101.23zM272 64h-32c-8.84 0-16 7.16-16 16v416c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V80c0-8.84-7.16-16-16-16z" class=""></path>
                </svg>
              </a>
            </li>

            <li>
              <a href="/entries/" class="footer-link">Entries</a>
            </li>

            <li>
              <a href="/places/" class="footer-link">Places</a>
            </li>

            <li>
              <a href="/npcs/" class="footer-link">NPCs</a>
            </li>

            <li>
              <a href="/scratchpad" class="footer-link">Scratchpad</a>
            </li>

            <li>
              <a href="/credits" class="text-red-400">Credits</a>
            </li>
        </ul>
    </nav>
</header>
